/*CSS Document*/
/*
 colors
orange : #E58F1F;
gray : #99AAA5;
Dark grey : #685E54;
white : #FFFFFF;

*/
body {
	background-color:#FFFFF;
	font-family:Verdana, Geneva, sans-serif;

}
.left-menu {
	background-color:#99AAA5;	
	border:medium #685E54 solid;
	border-top:none;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	text-align:center;
	padding-top:1em;
}
ul.side-menu-ul {
	list-style:none;
	padding:0px;
}
li.side-menu-li {
	text-align:center;
	margin:0px;
	border:none;
	border-bottom:#E58F1F medium solid;

	
	vertical-align:middle;
}
a.side-menu {
	color:#FFFFFF;
	text-decoration:none;
	border:none;
}
a.side-menu:hover{
	background:none;
	background-image:none;
	background-color:#E58F1f !important;	
}
li.side-menu-li:hover {
	background-image:none;
	background-color:#E58F1F;
	border-bottom: #685E54 medium solid;
}

.main-content {
	height:90%;	
	background:url(../img/E5X.png);
	background-repeat:no-repeat;
	background-clip:padding-box;
	background-position:center;
	background-size:auto;	
}
img.center-img {
	z-index:-1;
	left-margin:25%;	
}
.top-hover-a {
	padding:.5em;
	font-wieght:400;
	text-align:center;
	font-size:1.3em;
	width:5em;
	color:#FFFFFF;
	background-color:#685E54;
	border-radius:5px;
}
.side-hover-a{
	padding:.5em;
	font-wieght:400;
	font-size:1.3em;
	text-align:center;
	width:5em;
	color:#FFFFFF;
	background-color:#685E54;
	border-radius:5px;
}
.side-hover-a:hover{
	color:#FFFFFF;
	background-color:#E58F1F;
	text-decoration:none;
}
.top-hover-a:hover{
	color:#FFFFFF;
	background-color:#E58F1F;
	text-decoration:none;
}
.header-nav-a{
	background:none;
	background-image:none;
	background-color:#E58F1F;
	color:#FFFFFF;
}
.header-nav-a:hover{
	background:none;
	background-image:none;
	background-color:#685E54;
	color:#FFFFFF;
}
.spacer5em {
	height:5em;	
}
.spacer8em {
	height:8em;	
}
.spacer10em {
	height:10em;	
}
.spacer15em {
	height:15em;	
}
.footer {
	text-align:center;
}
.footer-a {
	color:#685E54;
}
.footer-a:visited{
	color:#685E54;
}
.footer-a:hover{
	color:#685E54;
	text-decoration:none;
}
